$dot-width: 6%;
$path-width: $dot-width / (2 * 2.8);

$falling-dots-duration: 0.25s;
$falling-dots-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);

$path-segment-duration: 0.1s;

$selecting-duration: 0.5s;
$selecting-scale-factor: 2.8;

$shrinking-duration: 0.25s;

$red: #eb5d49;
$light-red: #f4aea6;

$yellow: #e6da24;
$light-yellow: #f2ec94;

$green: #8ae892;
$light-green: #c6f3c8;

$blue: #8bbcff;
$light-blue: #c6ddff;

$violet: #985db7;
$light-violet: #cdaeda;

@function offset($i) {
    @return ($i + 1) / 7 * 100%;
}

#dots {
    width: 800px;
    height: 800px;
    position: relative;
    z-index: -3;

    &[data-color=red]    { background: $light-red }
    &[data-color=yellow] { background: $light-yellow }
    &[data-color=green]  { background: $light-green }
    &[data-color=blue]   { background: $light-blue }
    &[data-color=violet] { background: $light-violet }

    [data-color=red]    { background: $red }
    [data-color=yellow] { background: $yellow }
    [data-color=green]  { background: $green }
    [data-color=blue]   { background: $blue }
    [data-color=violet] { background: $violet }

    .dot {
        border-radius: 50%;
        width: $dot-width;
        height: $dot-width;
        position: absolute;

        transition: top $falling-dots-duration $falling-dots-timing-function;
        
        @for $i from 0 through 5 {
            $offset: offset($i) - $dot-width/2;
            &[data-col="#{$i}"] { left: $offset }
            &[data-row="#{$i}"] { top:  $offset }
        }

        &.falling {
            animation: falling $falling-dots-duration $falling-dots-timing-function forwards;
        }

        &.selecting {
            animation: selecting $selecting-duration linear forwards;
            z-index: -2;
        }

        &.shrinking {
            animation: shrinking $shrinking-duration linear forwards;
            z-index: -1;
        }
    }

    .path-segment {
        position: absolute;

        animation-duration: $path-segment-duration;
        animation-timing-function: linear;
        animation-fill-mode: forwards;

        @for $r from 0 through 5 {
            @for $c from 0 through 5 {
                $left: offset($c) - $path-width/2;
                $top:  offset($r) - $path-width/2;
                $near-right:  100% - offset($c)   - $path-width/2;
                $far-right:   100% - offset($c+1) - $path-width/2;
                $near-bottom: 100% - offset($r)   - $path-width/2;
                $far-bottom:  100% - offset($r+1) - $path-width/2;

                // vertically between r and r+1
                @if $r < 5 {
                    // top to bottom
                    &.from-#{$r}-#{$c}-to-#{$r+1}-#{$c} {
                        left:   $left;
                        top:    $top;
                        right:  $near-right;
                        animation-name: from-#{$r}-#{$c}-to-#{$r+1}-#{$c}
                    }
                    // bottom to top
                    &.from-#{$r+1}-#{$c}-to-#{$r}-#{$c} {
                        left:   $left;
                        right:  $near-right;
                        bottom: $far-bottom;
                        animation-name: from-#{$r+1}-#{$c}-to-#{$r}-#{$c}
                    }
                }
                // Horizontally, between c and c+1
                @if $c < 5 {
                    // left to right
                    &.from-#{$r}-#{$c}-to-#{$r}-#{$c+1} {
                        left:   $left;
                        top:    $top;
                        bottom: $near-bottom;
                        animation-name: from-#{$r}-#{$c}-to-#{$r}-#{$c+1}
                    }
                    // right to left
                    &.from-#{$r}-#{$c+1}-to-#{$r}-#{$c} {
                        top:    $top;
                        right:  $far-right;
                        bottom: $near-bottom;
                        animation-name: from-#{$r}-#{$c+1}-to-#{$r}-#{$c}
                    }
                }
            }
        }
    }
}

@keyframes falling {
    from {
        top: 0;
    }
}

@keyframes selecting {
    to {
        transform: scale($selecting-scale-factor);
        opacity: 0;
    }
}

@keyframes shrinking {
    to { transform: scale(0) }
}

@for $r from 0 through 5 {
    @for $c from 0 through 5 {
        $left:    offset($c) - $path-width/2;
        $top:     offset($r) - $path-width/2;
        $right:   offset($c+1) - $path-width/2;
        $bottom:  offset($r+1) - $path-width/2;
        @if $r < 5 {
            @keyframes from-#{$r}-#{$c}-to-#{$r+1}-#{$c} {
                from { bottom: 100% - $top }
                to   { bottom: 100% - $bottom }
            }
            @keyframes from-#{$r+1}-#{$c}-to-#{$r}-#{$c} {
                from { top: $bottom }
                to   { top: $top }
            }
        }
        @if $c < 5 {
            @keyframes from-#{$r}-#{$c}-to-#{$r}-#{$c+1} {
                from { right: 100% - $left }
                to   { right: 100% - $right }
            }
            @keyframes from-#{$r}-#{$c+1}-to-#{$r}-#{$c} {
                from { left: $right }
                to   { left: $left }
            }
        }
    }
}
