$dot-width: 6.125%;
$path-width: $dot-width/8;

@function offset($i) {
    @return ($i + 1) / 7 * 100%;
}

#dots {
    width: 800px;
    height: 800px;
    position: relative;

    .dot {

        border-radius: 50%;
        width: $dot-width;
        height: $dot-width;
        position: absolute;
        z-index: -1;
        
        transition: 0.25s cubic-bezier(0.175,0.885,0.32,1.275);
        
        @for $i from 0 through 5 {
            $offset: offset($i) - $dot-width/2;
            &.col#{$i} { left: $offset }
            &.row#{$i} { top:  $offset }
            &.hidden-row#{5-$i} { top: -$offset }
        }
    }

    .path {
        position: absolute;
        @for $i from 0 through 5 {
            $offset: offset($i);
            &.from-col#{$i} { left: $offset - $path-width/2 }
            &.from-row#{$i} { top:  $offset - $path-width/2 }
            &.to-col#{$i} { right:  100% - $offset - $path-width/2 }
            &.to-row#{$i} { bottom: 100% - $offset - $path-width/2 }
        }
    }

    .red    { background: #ef5d42 }
    .yellow { background: #e7db29 }
    .green  { background: #8ce78c }
    .blue   { background: #8cbaff }
    .violet { background: #9c5db5 }
}
